@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px auto 0px auto;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #1A181A;
  height: 50px;
  display: grid;
  padding: 10px;
}

header h1 {
  padding-left: 10px;
  padding-top: 5px;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
}

header a {
  display: flex;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  
}

header img {
  max-height: 50px;
  width: auto;
  display: flex;
}

nav {
  text-align: center;
  background-color: #212125;
  height: auto;
}

nav p {
  font-family: 'Gabarito', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

li {
  display: inline-block;
  color: #F8F6F7;
  margin: 10px;
}

nav li {
  margin-right: 50px;
}

nav a {
  position: relative;
  text-decoration: none;
  display: flex;
}

nav a:link {
  color: inherit;
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  background-color: #D03A65;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
  border-radius: 1px;
}

nav a:hover:after {
  width: 100%;
}

footer {
  background-color: #171617;
  color: #aaaaaa;
  width: 100%;
  height: auto;
  text-align: center;
  clear: both;
  padding-top: 10px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

p {
  font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 17px;
  height: 10px;
}

::-webkit-scrollbar-track {
 background: #000000;
 border-top: 0px;
}

::-webkit-scrollbar-thumb {
 background: #2e2e2e;
 border-radius: 10px;
 border: .2em solid #000000;
}

::-webkit-scrollbar-thumb:hover {
 background: #393939;
 width: 0px;
}