@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

article a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px auto 0px auto;
}

header {
  background-color: black;
  height: 50px;
  display: grid;
  align-items: center;
  padding: 10px;
}

header h1 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-left: 10px;
}

nav a:link {
  color: inherit;
  text-decoration: none;
}

header a {
  color: inherit;
  text-decoration: none;
}

nav {
  text-align: center;
  background-color: #000000;
  height: auto;
}

nav p {
  font-family: 'Gabarito', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

nav li {
  margin-right: 50px;
}

nav a {
  position: relative;
  text-decoration: none;
  display: flex;
}

nav a::after {
  content: "";
  position: absolute;
  background-color: #f70000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

nav a:hover:after {
  width: 100%;
}

li {
  display: inline-block;
  color: #fff;
  margin: 10px;
}

footer {
  background-color: #0f0f0f;
  height: 50;
}

footer p {
  padding: 10px;
  color: #929292;
  display: grid;
  text-align: center;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 17px;
  height: 10px;
}

::-webkit-scrollbar-track {
 background: #000000;
 border-top: 0px;
}

::-webkit-scrollbar-thumb {
 background: #2e2e2e;
 border-radius: 10px;
 border: .2em solid #000000;
}

::-webkit-scrollbar-thumb:hover {
 background: #393939;
 width: 0px;
}