@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

article a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px auto 0px auto;
}

header {
  background-color: black;
  height: 50px;
}

header h1 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding: 0 1.2%;
}

article {
  height: 100vh; 
  background-color: azure;
  background: linear-gradient(72deg, black) 10% , #464646 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  color: #fd000000;

  font-size: 50px;
  margin-top: 450px;
  margin-left: 30px;
  position: absolute;
}

nav a:link {
  color: inherit;
  text-decoration: none;
}

header a {
  color: inherit;
  text-decoration: none;
}

nav {
  text-align: center;
  background-color: #000000;
  height: 50px;
}

nav p {
  font-family: 'Gabarito', sans-serif;
  font-size: 1.5em;
  color: #fff;
  margin-right: 50px;
}

li {
  display: inline-block;
  color: #fff;
  margin: 10px;
}

section {
  background-color: antiquewhite;
  width: 49%;
  height: 50px;
  float: left;
  padding: 5px;
  margin: 0px;
}

aside {
  background-color: burlywood;
  width: 49%;
  float: right;
  padding: 5px;
  margin: 0px;
  height: 50px;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-family: 'Work Sans', sans-serif;
}

.slider {
  width: auto;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.navigation-bar {
  position: absolute;
  bottom: 20px;

  left: 50%;
  transform: translate(-50%);
  display: flex;
}

input {
  display: none;
}

.navigation-bar .manual-btn {
  border: 2px solid #fff;
  
  width: 50px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #fff;
  animation-name: myanimation;
  animation-duration: 0.5s;
  transition: 0.5s;
}

.manual-btn {
  animation-name: reverse;
  animation-duration: 0.5s;
}

.navigation-auto .auto-btn1, .auto-btn2, .auto-btn3, .auto-btn4 {
  transition: 1s;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide {
  width: 25%;
  transition: 1s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto {
  position: absolute;
  bottom: 20px;

  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.navigation-auto div {
  border: 2px solid #fff;

  width: 50px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~.navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~.navigation-auto .auto-btn3 {
  background-color: #fff;
}

#radio4:checked ~.navigation-auto .auto-btn4 {
  background-color: #fff;
}

#radio1:checked ~.slide .text1 {
  display: flex;
  animation-name: faded;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 10px;
  background-color: #00000072;
  color: #ffffff;
}

#radio2:checked ~.slide .text2 {
  display: flex;
  animation-name: faded;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 10px;
  background-color: #00000072;
  color: #ffffff;
}

#radio3:checked ~.slide .text3 {
  display: flex;
  animation-name: faded;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 10px;
  background-color: #00000072;
  color: #ffffff;
}

#radio4:checked ~.slide .text4 {
  display: flex;
  animation-name: faded;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 10px;
  background-color: #00000072;
  color: #ffffff;
}

.slide .text {
  position: absolute;
  bottom: 30%;
  left: 50px;

  display: none;
  font-size: 50px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide .background-text h2 {
  background-size: cover;
  background-color: #00000000;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
}

@keyframes faded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 17px;
  height: 10px;
}

::-webkit-scrollbar-track {
 background: #000000;
 border-top: 0px;
}

::-webkit-scrollbar-thumb {
 background: #2e2e2e;
 border-radius: 10px;
 border: .2em solid #000000;
}

::-webkit-scrollbar-thumb:hover {
 background: #393939;
 width: 0px;
}